<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Endpoint" value="https://datareader-graph.documents.azure.com:443/"/>
    <add key="AuthKey" value="mjeihf6mrUyfXG3ImwflvSErYapQTkEbASFEOqBIjEwnX4welIdef5WjVuu7kPqqGXNYFkRjqOjbCxAgfdgQ2Q=="/>
  </appSettings>
</configuration>